body {
  margin: 0;
}

header {
  background: hsl(200, 100%, 81%);
  padding: 10px;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  font-size: 3vw;
  margin: 0;
}

svg {
  background: black;
  border-radius: 50%;
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 100%;
}
